<xml>
  <system.web compilation debug="true" strict="true">
    <assemblies>
      <add assembly="Pi, Version=0.1" />
      <add assembly="Communia", Version="0.1" />
      <add assembly="Pi.Tool, Version=0.1" />
    </assemblies>
  </system.web>
  <customErrors defaultRedirect="url" mode="On">
    <error statusCode="401" redirect="unauthorized"
  </customErrors>
  <httpHandlers>
    <add verb="*" path="*.jpg" type="Pi.Host.Handlers.FileSystemHandler" />
  </httpHandlers>
  <appSettings>
    <add key="Version" value="0.1" />
  </appSettings>
</xml>